<article>
  <!-- #ARTICLES -->
  <section class="section blog" id="articles" aria-label="articles">
    <div class="container">
      <p class="section-subtitle" style="margin-top: 40px">Our Articles</p>
      <h2 class="section-title text-center text-heading my-5 fs-1 fw-bolder">
        Explore Our Latest Articles
      </h2>

      <ul
        class="blog-list"
        style="
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-between;
        "
      >
        <li style="flex: 0 1 calc(33.33% - 20px)">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="blog-1.jpg"
                width="440"
                height="270"
                loading="lazy"
                alt="Going to the gym for the first time"
                class="img-cover"
              />
              <time class="card-meta" datetime="2024-07-03">3 July 2024</time>
            </div>
            <div class="card-content">
              <h3 class="">
                <a class="card-title" routerLink="/blog1"
                  >Going to the gym for the first time</a
                >
              </h3>
              <p class="card-text">
                Praesent id ipsum pellentesque lectus dapibus condimentum
                curabitur eget risus quam. In hac habitasse platea dictumst.
              </p>
            </div>
          </div>
        </li>

        <li style="flex: 0 1 calc(33.33% - 20px)">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="blog-2.jpg"
                width="440"
                height="270"
                loading="lazy"
                alt="Parturient accumsan cacus pulvinar magna"
                class="img-cover"
              />
              <time class="card-meta" datetime="2024-05-15">15 May 2024</time>
            </div>
            <div class="card-content">
              <h3 class="">
                <a class="card-title" routerLink="/blog2"
                  >How to Burn More Calories on a Treadmill Efficiently</a
                >
              </h3>
              <p class="card-text">
                Want to boost calorie burn? Use incline settings and interval
                training—alternating between sprints and recovery walks—to make
                your treadmill workouts more intense and effective.
              </p>
            </div>
          </div>
        </li>

        <li style="flex: 0 1 calc(33.33% - 20px)">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="blog-3.jpg"
                width="440"
                height="270"
                loading="lazy"
                alt="Risus purus namien parturient accumsan cacus"
                class="img-cover"
              />
              <time class="card-meta" datetime="2025-03-01">1 March 2025</time>
            </div>
            <div class="card-content">
              <h3 class="">
                <a routerLink="/blog3" class="card-title"
                  >How to Properly Breathe During Heavy Powerlifting Lifts</a
                >
              </h3>
              <p class="card-text">
                Breathing correctly can make or break your big lifts. Learn the
                valsalva maneuver to stabilize your core and maintain proper
                intra-abdominal pressure.
              </p>
            </div>
          </div>
        </li>

        <li style="flex: 0 1 calc(33.33% - 20px)">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="blog-4.jpg"
                width="440"
                height="270"
                loading="lazy"
                alt="Risus purus namien parturient accumsan cacus"
                class="img-cover"
              />
              <time class="card-meta" datetime="2025-03-01">1 March 2025</time>
            </div>
            <div class="card-content">
              <h3 class="">
                <a href="article-4.html" class="card-title"
                  >Ten Essential Running Tips Every Beginner Should Know Now</a
                >
              </h3>
              <p class="card-text">
                Starting strong is key to avoiding injury and staying motivated.
                From proper form to pacing, these tips will set you up for
                running success.
              </p>
            </div>
          </div>
        </li>

        <li style="flex: 0 1 calc(33.33% - 20px)">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="blog-5.jpg"
                width="440"
                height="270"
                loading="lazy"
                alt="Risus purus namien parturient accumsan cacus"
                class="img-cover"
              />
              <time class="card-meta" datetime="2025-03-01">1 March 2025</time>
            </div>
            <div class="card-content">
              <h3 class="">
                <a href="article-5.html" class="card-title"
                  >How to Improve Your Freestyle Stroke in Ten Steps</a
                >
              </h3>
              <p class="card-text">
                Freestyle is all about rhythm and efficiency. By refining your
                body position, arm pull, and breathing timing, you can swim
                faster and with less effort—follow these steps to perfect your
                technique.
              </p>
            </div>
          </div>
        </li>

        <li style="flex: 0 1 calc(33.33% - 20px)">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="blog-6.jpg"
                width="440"
                height="270"
                loading="lazy"
                alt="Risus purus namien parturient accumsan cacus"
                class="img-cover"
              />
              <time class="card-meta" datetime="2025-03-01">1 March 2025</time>
            </div>
            <div class="card-content">
              <h3 class="">
                <a href="article-6.html" class="card-title"
                  >From Couch to 5K: A Simple Training Plan for Beginners</a
                >
              </h3>
              <p class="card-text">
                Want to run your first 5K? This gradual plan mixes walking and
                running to build stamina safely—no prior experience needed!
              </p>
            </div>
          </div>
        </li>
        <li style="flex: 0 1 calc(33.33% - 20px)">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="blog-7.png"
                width="440"
                height="270"
                loading="lazy"
                alt="Risus purus namien parturient accumsan cacus"
                class="img-cover"
              />
              <time class="card-meta" datetime="2025-03-01">1 March 2025</time>
            </div>
            <div class="card-content">
              <h3 class="">
                <a href="article-6.html" class="card-title"
                  >Trail vs. Road Running: Which One Is Best for You?</a
                >
              </h3>
              <p class="card-text">
                Trail running offers nature and challenge; roads provide speed
                and consistency. Your goals and preferences will determine the
                best fit—let’s compare
              </p>
            </div>
          </div>
        </li>
        <li style="flex: 0 1 calc(33.33% - 20px)">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="blog-8.png"
                width="440"
                height="270"
                loading="lazy"
                alt="Risus purus namien parturient accumsan cacus"
                class="img-cover"
              />
              <time class="card-meta" datetime="2025-03-01">1 March 2025</time>
            </div>
            <div class="card-content">
              <h3 class="">
                <a href="article-6.html" class="card-title"
                  >How to Perfect Your Jump Shot in Handball Fast</a
                >
              </h3>
              <p class="card-text">
                A powerful, accurate jump shot can be a game-changer. Learn
                proper footwork, arm positioning, and timing to score more goals
                and outplay defenders with ease.
              </p>
            </div>
          </div>
        </li>

        <li style="flex: 0 1 calc(33.33% - 20px)">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="blog-9.png"
                width="440"
                height="270"
                loading="lazy"
                alt="Risus purus namien parturient accumsan cacus"
                class="img-cover"
              />
              <time class="card-meta" datetime="2025-03-01">1 March 2025</time>
            </div>
            <div class="card-content">
              <h3 class="">
                <a href="article-7.html" class="card-title"
                  >The Best Pre-Run Warm-Up Exercises to Prevent Injuries</a
                >
              </h3>
              <p class="card-text">
                A dynamic warm-up primes your muscles and joints. Try these
                moves to boost flexibility, increase blood flow, and run
                stronger from the first step.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</article>
