<section class="section article-detail" id="article" aria-label="article">
  <div class="container">
    <p class="section-subtitle" style="margin-top: 40px">Blog Article</p>
    <h2 class="h2 section-title text-center">
      Going to the Gym for the First Time
    </h2>
    <time
      class="card-meta fs-2 my-4 fw-bolder"
      datetime="2024-07-03"
      style="display: block; text-align: center; margin-bottom: 20px"
      >3 July 2024</time
    >

    <figure
      class="img-holder"
      style="--width: 800; --height: 400; margin-bottom: 30px"
    >
      <img
        src="blog-1.jpg"
        width="800"
        height="400"
        loading="lazy"
        alt="Going to the gym for the first time"
        class="img-cover"
      />
    </figure>

    <div class="article-content">
      <p class="section-text">
        Praesent id ipsum pellentesque lectus dapibus condimentum curabitur eget
        risus quam. In hac habitasse platea dictumst. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
      <p class="section-text">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident.
      </p>
      <p class="section-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <a
        routerLink="/home"
        class="btn btn-success fs-3 px-5 py-3"
        style="margin-top: 20px"
        >Back to Articles</a
      >
    </div>
  </div>
</section>
