<section class="section thank-you" id="thank-you" aria-label="thank you">
  <div class="container">
    <p class="section-subtitle text-center">Thank You</p>
    <h2 class="h2 section-title text-center">Welcome to Smart Health!</h2>
    <p class="section-text text-center">
      Thank you for joining us! We will contact you soon to finalize your
      membership and start your fitness journey.
    </p>
    <div class="form-actions">
      <a routerLink="/home" class="btn btn-success fs-3 px-5 py-3"
        >Back to Home</a
      >
    </div>
  </div>
</section>
